In [1]:
# ================================
# HR Attrition - Data Cleaning Script
# ================================

import pandas as pd
import numpy as np
import os

# 1. Load the dataset
file_path = r"C:\HR-Attrition-Analytics-project\WA_Fn-UseC_-HR-Employee-Attrition.csv"


df = pd.read_csv(file_path)

print("ðŸ”¹ Original Data Shape:", df.shape)
print("ðŸ”¹ Columns:", df.columns.tolist())
print("\nFirst 5 rows:\n", df.head())

# 2. Basic dataset info
print("\nDataset Info:")
print(df.info())

print("\nMissing Values Count:")
print(df.isnull().sum())

# 3. Handle missing values
for col in df.columns:
    if df[col].dtype in ["int64", "float64"]:
        # Fill numeric NaN with median
        df[col] = df[col].fillna(df[col].median())
    else:
        # Fill categorical NaN with mode
        df[col] = df[col].fillna(df[col].mode()[0])

# 4. Remove duplicate rows
before = df.shape[0]
df = df.drop_duplicates()
after = df.shape[0]
print(f"\nâœ… Removed {before - after} duplicate rows.")

# 5. Standardize column names (lowercase + underscores)
df.columns = (
    df.columns.str.strip()
              .str.lower()
              .str.replace(" ", "_")
              .str.replace("-", "_")
)

# 6. Convert object columns to category for efficiency
for col in df.select_dtypes(include=["object"]).columns:
    df[col] = df[col].astype("category")

# 7. Verify cleaning
print("\nðŸ”¹ Cleaned Data Info:")
print(df.info())
print("\nMissing Values After Cleaning:")
print(df.isnull().sum().sum())  # should be 0

# 8. Ensure processed folder exists
os.makedirs("data/processed", exist_ok=True)

# 9. Save cleaned dataset
df.to_csv("HR_Attrition_Cleaned.csv", index=False)

output_path = "data/processed/HR_Attrition_Cleaned.csv"
df.to_csv(output_path, index=False)

print("\nðŸŽ‰ Data Cleaning Completed!")
print("âœ… Cleaned dataset saved at:", output_path)
print("âœ… Final Shape:", df.shape) 

df.to_csv("HR_Attrition_Cleaned_fixed.csv", index=False)

ðŸ”¹ Original Data Shape: (1470, 35)
ðŸ”¹ Columns: ['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department', 'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

First 5 rows:
    Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB
None

Missing Values Count:
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

âœ… Removed 0 duplicate rows.

ðŸ”¹ Cleaned Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       1470 non-null   int64
 1   attrition                 1470 non-null   category
 2   businesstravel            1470 non-null   category
 3   dailyrate                 1470 non-null   int64
 4   department                1470 non-null   category
 5   distancefromhome          1470 non-null   int64
 6   education                 1470 non-null   int64
 7   educationfield            1470 non-null   category
 8   employeecount             1470 non-null   int64
 9   employeenumber            1470 non-null   int64
 10  environmentsatisfaction   1470 non-null   int64
 11  gender                    1470 non-null   category
 12  hourlyrate                1470 non-null   int64
 13  jobinvolvement            1470 non-null   int64
 14  joblevel                  1470 non-null   int64
 15  jobrole                   1470 non-null   category
 16  jobsatisfaction           1470 non-null   int64
 17  maritalstatus             1470 non-null   category
 18  monthlyincome             1470 non-null   int64
 19  monthlyrate               1470 non-null   int64
 20  numcompaniesworked        1470 non-null   int64
 21  over18                    1470 non-null   category
 22  overtime                  1470 non-null   category
 23  percentsalaryhike         1470 non-null   int64
 24  performancerating         1470 non-null   int64
 25  relationshipsatisfaction  1470 non-null   int64
 26  standardhours             1470 non-null   int64
 27  stockoptionlevel          1470 non-null   int64
 28  totalworkingyears         1470 non-null   int64
 29  trainingtimeslastyear     1470 non-null   int64
 30  worklifebalance           1470 non-null   int64
 31  yearsatcompany            1470 non-null   int64
 32  yearsincurrentrole        1470 non-null   int64
 33  yearssincelastpromotion   1470 non-null   int64
 34  yearswithcurrmanager      1470 non-null   int64
dtypes: category(9), int64(26)
memory usage: 313.1 KB
None

Missing Values After Cleaning:
0

ðŸŽ‰ Data Cleaning Completed!
âœ… Cleaned dataset saved at: data/processed/HR_Attrition_Cleaned.csv
âœ… Final Shape: (1470, 35)